<div class="w-full justify-center items-center flex flex-row p-32">
    <div class="rounded-2xl shadow-2xl w-1/2 h-2/3 border-blue-A700">
        <mat-tab-group dynamicHeight selectedIndex="2" class="rounded-2xl">
            <mat-tab label="Register">
                <app-application-register></app-application-register>
            </mat-tab>
            <mat-tab label="Login">
                <app-application-login></app-application-login>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
