<div class="w-screen h-fit">
    <div class="bg-blue-A700 text-white flex flex-row justify-between py-3 mat-elevation-z10">

        <div>
            <img ngSrc="assets/img.png" class="block w-12 rounded-full ml-2" height="224" width="228" alt="Logo 250Kt">
        </div>

        <div class="flex">
            <button class="py-2 px-5 block" matTooltip="{{ 'navbar.map' | translate }}" matTooltipPosition="below" routerLink="/home">
                <mat-icon class="text-white">public</mat-icon>
            </button>
            <button class="py-2 px-5 block" matTooltip="{{ 'navbar.navlog' | translate }}" matTooltipPosition="below">
                <mat-icon class="text-white">map</mat-icon>
            </button>
            <button class="py-2 px-5 block" matTooltip="{{ 'navbar.flight' | translate }}" matTooltipPosition="below">
                <mat-icon class="text-white">flight</mat-icon>
            </button>
            <button class="py-2 px-5 block" matTooltip="{{ 'navbar.weather' | translate }}" matTooltipPosition="below">
                <mat-icon class="text-white">cloud</mat-icon>
            </button>
        </div>

        <div class="flex">
            <button class="py-2 px-5 block" matTooltip="{{ 'navbar.settings' | translate }}" matTooltipPosition="below" *ngIf="this.authService.isAuthenticated()">
                <mat-icon class="text-white">settings</mat-icon>
            </button>
            <button class="py-2 px-5 block" matTooltip="{{ 'navbar.adminPanel' | translate }}" matTooltipPosition="below" routerLink="/admin" *ngIf="this.authService.isAuthenticated() && this.authService.isAdmin()">
                <mat-icon class="text-white">shield</mat-icon>
            </button>
            <button class="py-2 px-5 block" matTooltip="{{ 'navbar.profile' | translate }}" matTooltipPosition="below" routerLink="/profile" *ngIf="this.authService.isAuthenticated()">
                <mat-icon class="text-white">account_circle</mat-icon>
            </button>
            <button class="py-2 px-5 block" matTooltip="{{ 'navbar.signin' | translate }}" matTooltipPosition="below" routerLink="/signin">
                <mat-icon class="text-white">signin</mat-icon>
            </button>
            <button class="py-2 px-5 block" matTooltip="{{ 'navbar.logout' | translate }}" matTooltipPosition="below" (click)="logout()" *ngIf="this.authService.isAuthenticated()">
                <mat-icon class="text-white">logout</mat-icon>
            </button>
        </div>

    </div>
</div>

