<div class="p-16 text-center flex flex-row justify-center">
    <form [formGroup]="form" class="flex flex-col w-1/2">

        <p class="text-left text-2xl">{{'register.register' | translate}}</p>
        <mat-form-field>
            <mat-label>{{'general.username' | translate}}</mat-label>
            <input matInput formControlName="username" required>
            <mat-error *ngIf="form.get('username')?.invalid">{{getUsernameErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{'general.email' | translate}}</mat-label>
            <input matInput formControlName="email" required>
            <mat-error *ngIf="form.get('email')?.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{'general.password' | translate}}</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
            <mat-error *ngIf="form.get('password')?.invalid">{{getPasswordErrorMessage()}}</mat-error>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="form.invalid">{{'register.register' | translate}}</button>
    </form>
</div>
