<div class="p-8 text-center flex flex-col justify-items-center h-full py-12 lg:py-16">
    <form [formGroup]="form" class="flex flex-col justify-items-center md:px-12 lg:px-24">

        <p class="text-left text-2xl">{{'register.register' | translate}}</p>
        <mat-form-field>
            <mat-label>{{'general.username' | translate}}</mat-label>
            <input matInput formControlName="username" required>
            @if (form.get('username')?.invalid){
                <mat-error>{{getUsernameErrorMessage()}}</mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{'general.email' | translate}}</mat-label>
            <input matInput formControlName="email" required>
            @if(form.get('email')?.invalid){
                <mat-error>{{getEmailErrorMessage()}}</mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{'general.password' | translate}}</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
            @if (form.get('password')?.invalid){
                <mat-error>{{getPasswordErrorMessage()}}</mat-error>
            }
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="form.invalid">{{'register.register' | translate}}</button>
    </form>
</div>
