@if(airfield){
    <div class="fixed bottom-0 shadow-xl w-full"  @slideInFromBottom @slideOutToBottom>
        <div class="relative w-full flex flex-row justify-center ">
            <div class="relative flex justify-center p-4 w-full sm:w-fit bg-white sm:rounded-t-xl">
                <div class="absolute w-full -mx-4 -top-7 sm:-top-6 sm:w-fit flex justify-center sm:-right-1">
                    <button mat-mini-fab color="warn" (click)="close()"><mat-icon class="text-base">close</mat-icon></button>
                </div>
                <div class="w-full h-fit text-center">
                    <p>{{ airfield?.fullName }}</p>
                    <div class="flex flex-row gap-2 justify-center">
                        <button mat-flat-button color="primary" (click)="openPdf(airfield.code)">VAC</button>
                        <button mat-flat-button color="primary">NOTAM</button>
                        <button mat-flat-button color="primary">METEO</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
