<div class="w-fit h-screen p-4 absolute transition-all ease-in duration-200 md:left-0 mat-elevation-z10" [ngClass]="isOpen ? 'left-0' : '-left-40'">
  <div class="bg-blue-600 text-white flex flex-col justify-between h-full rounded-full py-3">

    <div>
      <img ngSrc="assets/img.png" class="block w-12 rounded-full ml-2" height="224" width="228" alt="Logo 250Kt">
    </div>

    <div>
      <button class="py-2 px-5 block" matTooltip="Map" matTooltipPosition="right">
        <mat-icon class="text-white">public</mat-icon>
      </button>
      <button class="py-2 px-5 block" matTooltip="Navlog" matTooltipPosition="right">
        <mat-icon class="text-white">map</mat-icon>
      </button>
      <button class="py-2 px-5 block" matTooltip="Flight" matTooltipPosition="right">
        <mat-icon class="text-white">flight</mat-icon>
      </button>
      <button class="py-2 px-5 block" matTooltip="Weather" matTooltipPosition="right">
        <mat-icon class="text-white">cloud</mat-icon>
      </button>

    </div>
    <div>
      <button class="py-2 px-5 block" matTooltip="Settings" matTooltipPosition="right">
        <mat-icon class="text-white">settings</mat-icon>
      </button>
      <button class="py-2 px-5 block" matTooltip="Logout" matTooltipPosition="right">
        <mat-icon class="text-white">logout</mat-icon>
      </button>
    </div>

  </div>
</div>
<button class="absolute m-4 transition-all ease-in duration-200 bg-blue-600 py-3 px-3.5 rounded-full md:hidden" [ngClass]="isOpen ? 'left-20' : 'left-0'" (click)="toggleMenu()">
  <mat-icon class="text-white">{{isOpen ? 'close' : 'menu' }}</mat-icon>
</button>
