@if(isLoading){
    <div class="flex justify-center items-center h-full">
        <mat-spinner></mat-spinner>
    </div>
} @else {
    <div class="h-full w-full">
        <google-map height="100%" width="100%" class="border-none overflow-hidden" mapId="mapId" [options]="options" (mapInitialized)="handleMapLoad($event)">
        </google-map>
        <div class="flex flex-col fixed top-16 sm:top-20 left-0 gap-2 w-full sm:w-fit p-4 bg-white sm:rounded-r-xl z-30">
            @if(aircrafts | async; as aircrafts){
                @if(aircrafts.length > 0){
                    <div class="flex flex-row gap-2">
                        <button (click)="createNewFlight()" matRipple class="rounded-3xl items-center flex flex-row justify-center text-white bg-blue-A700 py-2 px-4 w-fit gap-1">
                            <mat-icon>add</mat-icon>
                            <span>{{ 'create-flight.create' | translate }}</span>
                        </button>
                        @if(currentFlight){
                            <button (click)="toggleShowFlightList()" matRipple class="rounded-3xl items-center flex flex-row justify-center text-white bg-blue-A700 py-2 px-4 w-fit gap-1">
                                <mat-icon>list</mat-icon>
                                <span>{{ 'create-flight.load' | translate }}</span>
                            </button>
                        }
                    </div>
                    @if(currentFlight){
                        <div class="flex flex-row gap-2 items-baseline">
                            <div class="relative">
                                <button type="button" (click)="toggleAircraftChoice()" class="relative w-60 min-w-60 h-9 rounded-md bg-white py-1.5 pl-3 pr-10 text-left text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-A700 sm:text-sm sm:leading-6"
                                        matTooltip="{{ currentFlight.aircraft?.registration }} - {{ currentFlight.aircraft?.model }}" matTooltipPosition="after">
                                    <span class="pointer-events-none absolute inset-y-0 left-0 mr-3 flex items-center pl-2">
                                        <mat-icon class="text-blue-A700 rotate-45">flight</mat-icon>
                                    </span>
                                    <span class="flex items-center ml-6">
                                        <span class="block truncate">{{ currentFlight.aircraft?.registration }} - {{ currentFlight.aircraft?.model }}</span>
                                    </span>
                                            <span class="pointer-events-none absolute inset-y-0 right-0 ml-3 flex items-center pr-2">
                                        <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z" clip-rule="evenodd" />
                                        </svg>
                                    </span>
                                </button>
                                @if(isAircraftChoiceOpen){
                                    <ul class="absolute z-10 h-60 mt-1 w-full rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm overflow-y-auto" tabindex="-1" role="listbox" @slideInOut>
                                        <li class="relative cursor-default select-none py-2 pl-3 pr-9 text-gray-900">
                                            <input #aircraftSearchInput type="text" [(ngModel)]="searchTermAircraft" (input)="filterAircrafts()" placeholder="{{ 'create-flight.placeholder.search-aircraft' | translate }}" class="outline-none border-none ring-0 w-full">
                                        </li>
                                        @for(aircraft of filteredAircrafts; track $index){
                                            <li class="relative cursor-pointer select-none py-2 pl-3 hover:text-white hover:bg-blue-A700"
                                                [ngClass]="{'bg-blue-A700 text-white' : currentFlight.aircraft?.id === aircraft.id}"
                                                (click)="selectAircraft(aircraft)"
                                                id="{{ aircraft.registration }}" role="option">
                                                <div class="flex items-center">
                                            <span class="mx-2 block font-normal"
                                                  [ngClass]="{'font-semibold' : currentFlight.aircraft?.id === aircraft.id}"
                                            >{{ aircraft.registration}} - {{ aircraft.model }}</span>
                                                </div>
                                            </li>

                                        }
                                    </ul>
                                }
                            </div>
                        </div>

                        <div class="flex flex-col gap-1" cdkDropList (cdkDropListDropped)="drop($event)">
                            @for(step of currentFlight.steps; track $index){
                                <div class="flex flex-row gap-2 items-center relative" cdkDrag>
                                    <div class="relative">
                                        <button type="button" (click)="toggleStepChoice(step)" class="relative w-60 min-w-60 h-9 rounded-md bg-white py-1.5 pl-3 pr-10 text-left text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-A700 sm:text-sm sm:leading-6"
                                        matTooltip="LF{{ step.airfield?.code }} - {{ step.airfield?.fullName }}" matTooltipPosition="after">
                                            @if(step.order === 0){
                                                <span class="pointer-events-none absolute inset-y-0 left-0 mr-3 flex items-center pl-2">
                                                    <mat-icon class="text-green-500">flag</mat-icon>
                                                </span>
                                            } @else if (step.order+1 === currentFlight.steps?.length){
                                                <span class="pointer-events-none absolute inset-y-0 left-0 mr-3 flex items-center pl-2">
                                                    <mat-icon class="text-red-500">flag</mat-icon>
                                                </span>
                                            } @else {
                                                <span class="pointer-events-none absolute inset-y-0 left-0 mr-3 flex items-center pl-2">
                                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#6b7280"><path d="M480-240 240-480l240-240 240 240-240 240Zm0-102 138-138-138-138-138 138 138 138Zm0-138Z"/></svg>
                                                </span>
                                            }
                                            <span class="flex items-center ml-6">
                                                <span class="block truncate">LF{{ step.airfield?.code }} - {{ step.airfield?.fullName }} </span>
                                            </span>
                                            <span class="pointer-events-none absolute inset-y-0 right-0 ml-3 flex items-center pr-2">
                                                <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z" clip-rule="evenodd" />
                                                </svg>
                                            </span>
                                        </button>
                                        @if(isStepChoiceOpen[step.order-1]){
                                            <ul class="absolute z-10 h-60 mt-1 w-full rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm overflow-y-auto" tabindex="-1" role="listbox" @slideInOut>
                                                <li class="relative cursor-default select-none py-2 pl-3 pr-9 text-gray-900">
                                                    <input id="step-{{ step.order }}" type="text" [(ngModel)]="searchTermAirfield" (input)="filterAirfields()" placeholder="{{ 'create-flight.placeholder.search-airfield' | translate }}" class="outline-none border-none ring-0 w-full">
                                                </li>
                                                @for(airfield of filteredAirfields; track $index){
                                                    <li class="relative cursor-pointer select-none py-2 pl-3 hover:text-white hover:bg-blue-A700"
                                                        [ngClass]="{'bg-blue-A700 text-white' : step.airfield?.id === airfield.id}"
                                                        (click)="selectStepAirfield(step, airfield, true)"
                                                        id="{{ airfield.code }}" role="option">
                                                        <div class="flex items-center">
                                            <span class="mx-2 block font-normal"
                                                  [ngClass]="{'font-semibold' : step.airfield?.id === airfield.id}"
                                            >LF{{ airfield?.code }} - {{ airfield?.fullName }}</span>
                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                        }
                                    </div>
                                    @if (currentFlight.steps!.length > 2){
                                        <mat-icon (click)="removeStep(step)" class="text-red-500 text-sm cursor-pointer">close</mat-icon>
                                    }
                                </div>
                            }
                        </div>

                       <button (click)="addStep()" matRipple class="rounded-3xl text-xs items-center flex flex-row justify-center text-white bg-blue-A700 py-1 px-2 w-fit gap-1">
                            <mat-icon>add</mat-icon>
                            <span>Ajouter une étape</span>
                        </button>

                        <div class="flex flex-row gap-2 py-1.5">
                            <span class="flex items-center gap-1">
                                <mat-icon class="text-blue-A700">timer</mat-icon>
                                <span>{{ currentFlight.duration! | durationToHoursMinutes }}</span>
                            </span>
                            <span class="flex items-center gap-1">
                                <mat-icon class="text-blue-A700 rotate-90">height</mat-icon>
                                <span>{{ currentFlight.distance }}nm</span>
                            </span>
                        </div>
                    }
                }@else{
                    <button mat-flat-button color="primary" (click)="redirectProfile()" matTooltip="{{ 'create-flight.tooltip.create-aircraft' | translate }}">{{ 'create-flight.create-aircraft' | translate }}</button>
                }
            }
        </div>

        @if(isShowFlightList){
            <div class="relative z-40" aria-labelledby="modal-title" role="dialog" aria-modal="true">
                <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
                <div class="fixed inset-0 z-10 w-screen">
                    <div class="flex items-end justify-center p-4 text-center sm:items-center h-screen">
                        <div class="relative transform rounded-xl bg-white text-left shadow-xl transition-all sm:my-8 w-full h-full" @slideInFromBottom @slideOutToBottom>
                            <button (click)="toggleShowFlightList()" class="absolute top-0 right-0 bg-red-600 px-2 py-1 text-white justify-center rounded-bl-xl rounded-tr-xl font-semibold hover:bg-red-500 shadow-md" type="button"><mat-icon>close</mat-icon></button>
                            <div class="w-full bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4 h-full rounded-xl">
                                <div class="flex flex-col w-full h-full overflow-hidden">
                                    <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Vos vols</h3>
                                    <ul role="list" class="divide-y divide-gray-100 overflow-y-auto h-full w-full">
                                        @for(flight of flights | async; track $index){
                                            <li
                                                class="flex justify-between gap-x-6 py-5 px-2 hover:bg-gray-200 rounded-md"
                                                [ngClass]="{'border-2 border-blue-A700': flight.currentEdit === true }"
                                            >
                                                <div class="flex min-w-0 gap-x-4">
                                                    <div class="min-w-0 flex-auto">
                                                        <p class="text-sm font-semibold leading-6 text-gray-900 flex items-center gap-2">LF{{ flight?.steps?.at(0)!.airfield.code}} <mat-icon class="rotate-90 text-blue-A700">flight</mat-icon>  LF{{ flight.steps?.at(flight.steps!.length-1)!.airfield.code }}</p>
                                                        <p class="mt-1 truncate text-xs leading-5 text-gray-500">{{ flight.createdAt | date:'medium' }}</p>
                                                    </div>
                                                </div>
                                                <div class="flex flex-row gap-2">
                                                    <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
                                                        <p class="text-sm leading-6 text-gray-900 font-semibold">{{ flight.aircraft?.registration }} - {{ flight.aircraft?.model }}</p>
                                                        <div class="flex flex-row gap-2 py-1.5">
                                                            <span class="flex items-center gap-1">
                                                                <mat-icon class="text-blue-A700">timer</mat-icon>
                                                                <span>{{ flight.duration! | durationToHoursMinutes }}</span>
                                                            </span>
                                                                <span class="flex items-center gap-1">
                                                                <mat-icon class="text-blue-A700 rotate-90">height</mat-icon>
                                                                <span>{{ flight.distance }}nm</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="flex flex-col items-center justify-around">
                                                        <mat-icon class="text-blue-A700 cursor-pointer z-30 hover:bg-blue-A700 hover:text-white rounded-full" (click)="loadFlight(flight)">refresh</mat-icon>
                                                        <mat-icon class="text-red-500 cursor-pointer z-30 hover:bg-red-500 hover:text-white rounded-full" (click)="deleteFlight(flight.id!)">close</mat-icon>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <map-element-selection-panel
            [isObstacleShown]="isObstacleShown"
            (changeObstacleVisibilityEvent)="toggleObstacleVisibility()">
        </map-element-selection-panel>
        <map-airfield-info-component
            [airfield]="selectedAirfield"
            (closeEvent)="closeAirfieldInfo()"
            (selectDepartureEvent)="selectStepAirfield(currentFlight?.steps![0], $event, false)"
            (selectArrivalEvent)="selectStepAirfield(currentFlight?.steps![currentFlight?.steps!.length-1], $event, false)">
        </map-airfield-info-component>
    </div>
}
