<div class="w-full flex flex-row justify-center items-center h-5/6">
    <div class="rounded-2xl shadow-2xl w-4/5 lg:w-3/5 border-blue-A700">
        <mat-tab-group dynamicHeight selectedIndex="2" class="rounded-2xl">
            <mat-tab label="{{ 'register.register' | translate}}">
                <app-application-auth-register></app-application-auth-register>
            </mat-tab>
            <mat-tab label="{{ 'login.login' | translate}}">
                <app-application-auth-login></app-application-auth-login>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
