<div class="p-8 text-center flex flex-col justify-items-center h-full py-12 lg:py-16">
    <form [formGroup]="form" class="flex flex-col justify-items-center md:px-12 lg:px-24">

        <p class="text-left text-2xl">{{'login.login' | translate}}</p>
            <mat-form-field>
                <mat-label>{{'login.emailOrUsername' | translate}}</mat-label>
                <input matInput formControlName="identifier" required>
            </mat-form-field>
        <mat-form-field class="pb-6">
                <mat-label>{{'general.password' | translate}}</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        <button mat-raised-button color="primary" (click)="onSubmit()">{{'login.login' | translate}}</button>
    </form>

</div>
