@use '@angular/material' as mat;
@include mat.core();

$gofly-primary: mat.define-palette(mat.$blue-palette, A700);
$gofly-accent: mat.define-palette(mat.$pink-palette, 500);
$gofly-warn: mat.define-palette(mat.$red-palette, 500);
$gofly-theme: mat.define-light-theme((
    color: (
        primary: $gofly-primary,
        accent: $gofly-accent,
        warn: $gofly-warn
    )
));

@include mat.all-component-themes($gofly-theme);
