@if(!user){
    <div class="flex justify-center items-center h-full">
        <mat-spinner></mat-spinner>
    </div>
} @else {
    <mat-card appearance="outlined" class="m-4" @fadeIn>
        <mat-card-header class="items-baseline">
            <img mat-card-avatar src="assets/icons/pilots/{{user?.avatar}}.png" alt="{{ 'profile.alt.avatar' | translate }}">
            <mat-card-title>
                {{ 'profile.of-user' | translate }} {{ user?.username }}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            @if (!isChangeFavoriteAirfield){
                <div class="flex items-center gap-1" @fadeIn>
                    <div class="flex flex-col sm:flex-row">
                        <span>{{ 'profile.favorite-airfield.label' | translate }}</span>
                        <span>{{ user?.favoriteAirfield?.territory?.identificationCode }}{{ user?.favoriteAirfield?.code }} - {{ user?.favoriteAirfield?.fullName }}</span>
                    </div>
                    <button mat-icon-button color="primary" (click)="retrieveAllAirfieldsAcceptVfr()" matTooltip="{{ 'profile.tooltip.update-favorite-airfield' | translate }}"><mat-icon class="text-base">edit</mat-icon></button>
                </div>
            } @else {
                <form [formGroup]="formChangeFavoriteAirfield" class="flex flex-col items-center gap-2 sm:flex-row" @fadeIn>
                    <span>{{ 'profile.favorite-airfield.label' | translate }} </span>
                    <mat-form-field>
                        <input type="text"
                               placeholder="LFPG"
                               matInput
                               formControlName="favoriteAirfield"
                               [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete"  [displayWith]="airfieldUtils.displayFn">
                            @for (airfield of filteredAirfields | async; track airfield) {
                                <mat-option [value]="airfield">{{ airfield.territory.identificationCode }}{{ airfield.code}} - {{ airfield.fullName }}</mat-option>
                            }
                        </mat-autocomplete>
                    </mat-form-field>
                    <div class="flex flex-row gap-1">
                        <button mat-icon-button color="primary" (click)="updateFavoriteAirfield()" matTooltip="{{ 'profile.tooltip.update' | translate }}"><mat-icon class="text-base">check</mat-icon></button>
                        <button mat-icon-button color="warn" (click)="cancelUpdateFavoriteAirfield()" matTooltip="{{ 'profile.tooltip.cancel' | translate }}"><mat-icon class="text-base">close</mat-icon></button>
                    </div>
                </form>
            }

            <div class="flex items-baseline gap-2">
                <p>{{ 'profile.email-label' | translate }} {{ user?.email }}</p>
                @if (!user?.isEmailConfirmed){
                    <button mat-flat-button color="accent" (click)="confirmEmail()">{{ 'profile.confirm-email.button' | translate }}</button>
                }
            </div>

            @if(!isChangePassword){
                <button mat-flat-button color="primary" class="w-full sm:w-fit" (click)="wantUpdatePassword()" @fadeIn>{{ 'profile.new-password.button' | translate }}</button>
            } @else {
                <form [formGroup]="formChangePassword" @fadeIn>
                    <div class="flex flex-col items-center gap-2 sm:flex-row">
                        <span>{{ 'profile.new-password.label' | translate }} </span>
                        <mat-form-field>
                            <mat-label>{{'profile.new-password.placeholder' | translate}}</mat-label>
                            <input type="text"
                                   placeholder="{{ 'profile.new-password-placeholder' | translate }}"
                                   matInput
                                   formControlName="newPassword">
                        </mat-form-field>
                        <div class="flex flex-row gap-1">
                            <button mat-icon-button color="primary" (click)="updatePassword()" matTooltip="{{ 'profile.tooltip.update' | translate }}"><mat-icon class="text-base">check</mat-icon></button>
                            <button mat-icon-button color="warn" (click)="wantUpdatePassword()" matTooltip="{{ 'profile.tooltip.cancel' | translate }}"><mat-icon class="text-base">close</mat-icon></button>
                        </div>
                    </div>
                    @if (formChangePassword.get('newPassword')?.invalid && formChangePassword.get('newPassword')?.touched){
                        <mat-error>{{getPasswordErrorMessage()}}</mat-error>
                    }
                </form>
            }
            <div class="mt-2">
                @if(!isDeleteAccount){
                    <button mat-flat-button color="warn" class="w-full sm:w-fit" (click)="wantDeleteAccount()" @fadeIn>{{ 'profile.delete-account.button' | translate }}</button>
                }@else{
                    <div class="flex flex-col gap-1 sm:flex-row">
                        <button mat-flat-button color="warn" (click)="deleteAccount()" @fadeIn>{{ 'profile.delete-account.confirm' | translate }}</button>
                        <button mat-flat-button color="primary" (click)="wantDeleteAccount()" @fadeIn>{{ 'profile.delete-account.cancel' | translate }}</button>
                    </div>
                }
            </div>
           <!-- <user-aircrafts></user-aircrafts>-->
        </mat-card-content>
    </mat-card>
}
